{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Яскравий Друк</title>
    <style>
    body {
        margin: 0;
        position: relative; /* Добавляем позиционирование relative для body */
    }
    img {
        position: absolute; /* Добавляем позиционирование absolute для обоих изображений */
    }
    .bg-image {
        width: 100%;
        height: auto;
    }
    img:first-child {
        z-index: 1; /* Устанавливаем большее значение z-index для первого изображения */
    }
    </style>
</head>
<body>
    <img src="{% static 'images/лого1.png' %}" alt="Your Image1">
    <img src="{% static 'images/13.jpg' %}" alt="Your Image" class="bg-image">
</body>
</html>
